.header1,
.header2,
.header4 {
  position: relative;
  width: 48px;
  height: 24px;
  flex-shrink: 0;
}
.header2,
.header4 {
  width: 66px;
}
.header4 {
  width: 61px;
}
.headerParent,
.logoParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.headerParent {
  gap: 48px;
  text-align: center;
  font-size: 16px;
  font-family: Poppins;
}
.logoParent {
  gap: 160px;
}
.whatAreYou {
  position: relative;
  line-height: 18px;
  opacity: 0.5;
}
.searchComponentSet,
.whatAreYouLookingForParent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.whatAreYouLookingForParent {
  flex-direction: row;
  gap: 34px;
}
.searchComponentSet {
  border-radius: 4px;
  background-color: #f5f5f5;
  flex-direction: column;
  padding: 7px 12px 7px 20px;
}
.wishlistIcon {
  overflow: hidden;
}
.cart1WithBuy,
.wishlistIcon {
  position: relative;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}